
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 43.1rem;
}.design-your-own-card-here-bXm {
  width: 100%;
  display: flex;
  justify-content: center;
  color: #000000;
  line-height: 1.2999999523;
  font-family: Figma Hand, 'Source Sans Pro';
  height: 12.5rem;
  align-items: center;
  font-size: 4.8rem;
  font-weight: 400;
}
