
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.login-using-number-8f9 {
  background-color: #ffffff;
  width: 100%;
  height: 102.4rem;
  position: relative;
  overflow: hidden;

  .or-54b {
    position: absolute;
    font-weight: 400;
    line-height: 1.5;
    font-family: Poppins, 'Source Sans Pro';
    width: 2.3rem;
    height: 2.4rem;
    left: 70.9rem;
    top: 78.1rem;
    font-size: 1.6rem;
    color: #ababab;
    white-space: nowrap;
  }
  .rectangle-76-aGF {
    background-color: #ffd134;
    width: 73.1rem;
    height: 102.4rem;
    position: absolute;
    left: 0;
    top: 0;
  }
  .rectangle-13-v5D {
    top: 29.3rem;
    box-shadow: 0 0.4rem 3.5rem rgba(0, 0, 0, 0.0799999982);
    background-color: #ffffff;
    border-radius: 4rem;
    width: 53.9rem;
    height: 47.3rem;
    position: absolute;
    left: 44rem;
  }
  .group-49-Rnf {
    width: 44.1rem;
    height: 4.8rem;
    position: absolute;
    left: 48.4rem;
    top: 34.5rem;
    display: flex;
    align-items: flex-start;

    .welcome-to-groundup-mLj {
      flex-shrink: 0;
      margin: 0.3rem 10.7rem 0rem 0rem;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.5;
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
    }
    .no-account-sign-up-gib {
      max-width: 10.6rem;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.5;
      color: #8d8d8d;
      font-family: Poppins, 'Source Sans Pro';
      flex-shrink: 0;

      .no-account-sign-up-gib-sub-0 {
        line-height: 1.5;
        color: #8d8d8d;
        font-family: Poppins, 'Source Sans Pro';
        font-size: 1.6rem;
        font-weight: 400;
      }
      .no-account-sign-up-gib-sub-1 {
        font-family: Poppins, 'Source Sans Pro';
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
        color: #0084ff;
      }
    }
  }
  .group-54-ogj {
    top: 49.3rem;
    width: 45.1rem;
    height: 9.4rem;
    position: absolute;
    left: 48.4rem;

    .enter-your-username-or-email-address-9Eo {
      white-space: nowrap;
      margin-bottom: 1.3rem;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.5;
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
    }
    .auto-group-rsm1-sAo {
      color: #7f7f7f;
      font-family: Poppins, 'Source Sans Pro';
      border: solid 0.1rem #4285f4;
      background-color: #ffffff;
      box-sizing: border-box;
      width: 100%;
      font-size: 1.4rem;
      font-weight: 300;
      border-radius: 0.9rem;
      padding: 1.9rem 2.5rem 1.7rem 2.5rem;
      line-height: 1.5;
      white-space: nowrap;
    }
  }
  .groundup-high-resolution-logo-transparent-3-wgT {
    vertical-align: top;
    width: 27.5rem;
    height: 6.9rem;
    position: absolute;
    left: 56.2rem;
    top: 10.2rem;
    object-fit: cover;
  }
  .rectangle-16-Teo {
    border-radius: 1rem;
    width: 45.1rem;
    height: 5rem;
    position: absolute;
    left: 48.4rem;
    top: 64.9rem;
    background-color: #0084ff;
  }
  .continue-PHZ {
    font-size: 1.6rem;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    height: 2.1rem;
    position: absolute;
    top: 66.3rem;
    font-weight: 500;
    line-height: 1.3125;
    width: 7rem;
    left: 66.5rem;
  }
  .an-otp-will-be-generated-by-clicking-on-continue-FqZ {
    font-weight: 500;
    color: rgba(0, 0, 0, 0.349999994);
    font-family: Inter, 'Source Sans Pro';
    width: 23.7rem;
    left: 59.3rem;
    top: 62.1rem;
    font-size: 1rem;
    height: 2.1rem;
    position: absolute;
    line-height: 2.1;
    white-space: nowrap;
  }
  .image-15-JJ3 {
    position: absolute;
    left: 65.2rem;
    top: 39.4rem;
    object-fit: cover;
    vertical-align: top;
    width: 11.7rem;
    height: 8.9rem;
  }
}
