
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.signup-using-mail-eoy {
  width: 100%;
  height: 102.4rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .rectangle-76-nQP {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #ffd134;
    width: 73.1rem;
    height: 102.4rem;
  }
  .groundup-high-resolution-logo-transparent-3-KQK {
    height: 6.9rem;
    position: absolute;
    left: 56.2rem;
    top: 10.2rem;
    object-fit: cover;
    vertical-align: top;
    width: 27.5rem;
  }
  .rectangle-13-dR1 {
    height: 74.1rem;
    position: absolute;
    left: 45.1rem;
    top: 20.7rem;
    box-shadow: 0 0.4rem 3.5rem rgba(0, 0, 0, 0.0799999982);
    background-color: #ffffff;
    border-radius: 4rem;
    width: 53.9rem;
  }
  .have-an-account-sign-in-8cf {
    width: 12.2rem;
    left: 82.4rem;
    top: 25.7rem;
    font-size: 1.3rem;
    color: #8d8d8d;
    height: 3.9rem;
    position: absolute;
    font-weight: 400;
    line-height: 1.5;
    font-family: Poppins, 'Source Sans Pro';

    .have-an-account-sign-in-8cf-sub-0 {
    }
    .have-an-account-sign-in-8cf-sub-1 {
      font-size: 1.3rem;
      font-weight: 400;
      line-height: 1.5;
      color: #b87514;
      font-family: Poppins, 'Source Sans Pro';
    }
  }
  .sign-up-E3R {
    top: 28.4rem;
    line-height: 1.5;
    color: #000000;
    font-family: Poppins, 'Source Sans Pro';
    width: 20.9rem;
    height: 8.3rem;
    font-size: 5.5rem;
    font-weight: 500;
    white-space: nowrap;
    position: absolute;
    left: 49.5rem;
  }
  .group-56-YK1 {
    font-family: Poppins, 'Source Sans Pro';
    align-items: center;
    box-shadow: 0 0.4rem 1.9rem rgba(119, 147, 65, 0.3000000119);
    width: 45.1rem;
    left: 49.5rem;
    font-size: 1.6rem;
    white-space: nowrap;
    display: flex;
    border-radius: 1rem;
    top: 66.8rem;
    line-height: 1.5;
    color: #ffffff;
    justify-content: center;
    background-color: #0084ff;
    height: 5.4rem;
    position: absolute;
    font-weight: 500;
  }
  .group-54-b2P {
    height: 9.4rem;
    position: absolute;
    left: 49.5rem;
    top: 41rem;
    width: 45.1rem;

    .enter-your-username-or-email-address-XAw {
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      margin-bottom: 1.3rem;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.5;
    }
    .auto-group-uilp-dzf {
      font-size: 1.4rem;
      font-weight: 300;
      color: #7f7f7f;
      white-space: nowrap;
      border-radius: 0.9rem;
      box-sizing: border-box;
      padding: 1.9rem 2.5rem 1.7rem 2.5rem;
      width: 100%;
      line-height: 1.5;
      font-family: Poppins, 'Source Sans Pro';
      border: solid 0.1rem #4285f4;
      background-color: #ffffff;
    }
  }
  .group-55-hUj {
    width: 45.1rem;
    height: 9.4rem;
    position: absolute;
    left: 49.5rem;
    top: 52.9rem;

    .enter-your-password-32o {
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      margin-bottom: 1.3rem;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.5;
    }
    .auto-group-sphr-ySF {
      font-weight: 300;
      line-height: 1.5;
      color: #7f7f7f;
      white-space: nowrap;
      background-color: #ffffff;
      border-radius: 0.9rem;
      padding: 1.9rem 2.5rem 1.7rem 2.5rem;
      width: 100%;
      font-size: 1.4rem;
      font-family: Poppins, 'Source Sans Pro';
      border: solid 0.1rem #adadad;
      box-sizing: border-box;
    }
  }
  .welcome-to-groundup-FPm {
    font-size: 2rem;
    font-weight: 400;
    color: #000000;
    font-family: Poppins, 'Source Sans Pro';
    width: 22.8rem;
    height: 3rem;
    position: absolute;
    left: 49.5rem;
    top: 25.6rem;
    line-height: 1.5;
    white-space: nowrap;
  }
  .or-Mxb {
    top: 74.6rem;
    color: #ababab;
    font-family: Poppins, 'Source Sans Pro';
    line-height: 1.5;
    white-space: nowrap;
    width: 2.3rem;
    height: 2.4rem;
    position: absolute;
    left: 71rem;
    font-size: 1.6rem;
    font-weight: 400;
  }
  .rectangle-77-tBq {
    width: 45.1rem;
    height: 5.7rem;
    left: 49.5rem;
    top: 75.1rem;
    background-color: #ffffff;
    border-radius: 0.9rem;
    position: absolute;
    border: solid 0.1rem #0084ff;
    box-sizing: border-box;
  }
  .signup-using-number-zVm {
    width: 17.5rem;
    height: 2.4rem;
    top: 76.8rem;
    line-height: 1.5;
    color: #000000;
    white-space: nowrap;
    position: absolute;
    left: 63.6rem;
    font-size: 1.6rem;
    font-weight: 500;
    font-family: Poppins, 'Source Sans Pro';
  }
  .group-216-gtP {
    flex-direction: column;
    width: 16.2409rem;
    height: 9.6457rem;
    position: absolute;
    left: 64.1591rem;
    top: 82.1rem;
    align-items: center;
    display: flex;

    .or-continue-with-1vf {
      font-weight: 500;
      line-height: 1.5;
      color: #b4b4b4;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 0.159rem 3.1rem 0rem;
      font-size: 1.6rem;
    }
    .group-13-wJX {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      width: 16.2409rem;
      height: 4.1457rem;
    }
  }
}
