
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.signup-using-number-Fnw {
  width: 100%;
  height: 102.4rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .or-o3m {
    line-height: 1.5;
    color: #ababab;
    white-space: nowrap;
    width: 2.3rem;
    position: absolute;
    left: 70.9rem;
    font-weight: 400;
    font-family: Poppins, 'Source Sans Pro';
    height: 2.4rem;
    top: 78.1rem;
    font-size: 1.6rem;
  }
  .rectangle-76-h99 {
    top: 0;
    background-color: #ffd134;
    width: 73.1rem;
    height: 102.4rem;
    position: absolute;
    left: 0;
  }
  .rectangle-13-ScX {
    box-shadow: 0 0.4rem 3.5rem rgba(0, 0, 0, 0.0799999982);
    background-color: #ffffff;
    border-radius: 4rem;
    width: 53.9rem;
    height: 47.3rem;
    position: absolute;
    left: 44rem;
    top: 29.3rem;
  }
  .group-54-YfZ {
    width: 45.1rem;
    height: 9.4rem;
    position: absolute;
    left: 48.4rem;
    top: 49.3rem;

    .enter-your-username-or-email-address-59h {
      white-space: nowrap;
      margin-bottom: 1.3rem;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.5;
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
    }
    .auto-group-rsur-QBy {
      background-color: #ffffff;
      border-radius: 0.9rem;
      box-sizing: border-box;
      padding: 1.9rem 2.5rem 1.7rem 2.5rem;
      width: 100%;
      color: #7f7f7f;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      border: solid 0.1rem #4285f4;
      font-size: 1.4rem;
      font-weight: 300;
      line-height: 1.5;
    }
  }
  .groundup-high-resolution-logo-transparent-3-es1 {
    vertical-align: top;
    width: 27.5rem;
    height: 6.9rem;
    position: absolute;
    left: 56.2rem;
    top: 10.2rem;
    object-fit: cover;
  }
  .rectangle-16-mgj {
    width: 45.1rem;
    height: 5rem;
    position: absolute;
    left: 48.4rem;
    top: 64.9rem;
    background-color: #0084ff;
    border-radius: 1rem;
  }
  .continue-uY3 {
    left: 66.5rem;
    line-height: 1.3125;
    white-space: nowrap;
    position: absolute;
    height: 2.1rem;
    top: 66.3rem;
    font-size: 1.6rem;
    font-weight: 500;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    width: 7rem;
  }
  .an-otp-will-be-generated-by-clicking-on-continue-pQ7 {
    white-space: nowrap;
    width: 23.7rem;
    position: absolute;
    left: 59.3rem;
    top: 62.1rem;
    font-size: 1rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.349999994);
    height: 2.1rem;
    line-height: 2.1;
    font-family: Inter, 'Source Sans Pro';
  }
  .have-an-account-sign-in-7e7 {
    left: 82.4rem;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.5;
    color: #8d8d8d;
    width: 12.2rem;
    height: 3.9rem;
    position: absolute;
    top: 34.1rem;
    font-family: Poppins, 'Source Sans Pro';

    .have-an-account-sign-in-7e7-sub-0 {
    }
    .have-an-account-sign-in-7e7-sub-1 {
      font-weight: 400;
      line-height: 1.5;
      color: #b87514;
      font-family: Poppins, 'Source Sans Pro';
      font-size: 1.3rem;
    }
  }
  .sign-up-4Ss {
    left: 49.5rem;
    top: 36.8rem;
    font-size: 5.5rem;
    font-family: Poppins, 'Source Sans Pro';
    width: 20.9rem;
    position: absolute;
    font-weight: 500;
    line-height: 1.5;
    color: #000000;
    white-space: nowrap;
    height: 8.3rem;
  }
  .welcome-to-groundup-ZuR {
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
    white-space: nowrap;
    width: 22.8rem;
    height: 3rem;
    position: absolute;
    font-family: Poppins, 'Source Sans Pro';
    left: 49.5rem;
    top: 34rem;
    font-size: 2rem;
  }
}
