html {
	font-size:62.5%;
  
  
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
  height: auto;
  overflow: auto;
  
  

}.group-240-66T {
  width: 100%;
  height: 102.4rem;
  
}
.group-240-66T .login-using-mail-dcB {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.group-240-66T .login-using-mail-dcB .or-As1 {
  width: 2.3rem;
  height: 2.4rem;
  position: absolute;
  left: 70.9rem;
  top: 75.9rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ababab;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.group-240-66T .login-using-mail-dcB .rectangle-76-sFd {
  width: 73.1rem;
  height: 102.4rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ffd134;
}
.group-240-66T .login-using-mail-dcB .rectangle-13-of5 {
  width: 51.8rem;
  height: 50rem;
  position: absolute;
  left: 47.1rem;
  top: 10rem;
}
.group-240-66T .login-using-mail-dcB .rectangle-13-of5 .rectangle-13-k4X {
  width: 100%;
  height: 60.1rem;
  box-shadow: 0 0.4rem 3.5rem rgba(0, 0, 0, 0.0799999982); 
  background-color: #ffffff;
  border-radius: 4rem;

}
.group-240-66T .login-using-mail-dcB .group-49-TzX {
  width: 44.1rem;
  height: 4.8rem;
  position: absolute;
  left: 50.2rem;
  top: 20rem;
  display: flex;
  align-items: flex-start;
}
.group-240-66T .login-using-mail-dcB .group-49-TzX .welcome-to-groundup-yxs {
  margin: 0.3rem 10.7rem 0rem 0rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  
}
.group-240-66T .login-using-mail-dcB .group-49-TzX .no-account-sign-up-Uud {
  max-width: 10.6rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #8d8d8d; 
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
  cursor: pointer;
}
.group-240-66T .login-using-mail-dcB .group-49-TzX .no-account-sign-up-Uud .no-account-sign-up-Uud-sub-0 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
   color: #8d8d8d;
  font-family: Poppins, 'Source Sans Pro';
}
.group-240-66T .login-using-mail-dcB .group-49-TzX .no-account-sign-up-Uud .no-account-sign-up-Uud-sub-1 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
   color: #0084ff;
  font-family: Poppins, 'Source Sans Pro';
  display: flex;
  position: absolute;
  background-color: transparent;
  border-color: #ffffff;
  
  


}
.group-240-66T .login-using-mail-dcB .group-54-qQj {
  width: 45.1rem;
  height: 9.4rem;
  position: absolute;
  left: 49.4rem;
  top: 33rem;
}
.group-240-66T .login-using-mail-dcB .group-54-qQj .enter-your-username-or-email-address-vwy {
  margin-bottom: 1.3rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.group-240-66T .login-using-mail-dcB .group-54-qQj .auto-group-uobv-FjM {
  box-sizing: border-box;
  padding: 1.9rem 2.5rem 1.7rem 2.5rem;
  width: 100%;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.5;
  color: #7f7f7f;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #4285f4;
  background-color: #ffffff;
  border-radius: 0.9rem;
}
.group-240-66T .login-using-mail-dcB .group-215-v4o {
  width: 45.1rem;
  height: 12.9rem;
  position: absolute;
  left: 49.4rem;
  top: 45rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}
.group-240-66T .login-using-mail-dcB .group-215-v4o .group-55-RXM {
  margin-bottom: 1.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.group-240-66T .login-using-mail-dcB .group-215-v4o .group-55-RXM .enter-your-password-mr7 {
  margin-bottom: 1.3rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.group-240-66T .login-using-mail-dcB .group-215-v4o .group-55-RXM .auto-group-uenb-uSX {
  box-sizing: border-box;
  padding: 0.845rem 1.9rem 0.845rem 2.5rem;
  width: 100%;
  height: 5.7rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #adadad;
  background-color: #ffffff;
  border: solid 0.1rem #4285f4;
  border-radius: 0.9rem;
  flex-shrink: 0;
}
.group-240-66T .login-using-mail-dcB .group-215-v4o .group-55-RXM .auto-group-uenb-uSX .password-DTD {
  margin: 0.2rem 31.8rem 0rem 0rem;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.5;
  color: #7f7f7f;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.group-240-66T .login-using-mail-dcB .group-215-v4o .group-55-RXM .auto-group-uenb-uSX .eye-1-ewq {
  margin-bottom: 2.8rem;
  width: 2.2rem;
  height: 1.211rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.group-240-66T .login-using-mail-dcB .group-215-v4o .forgot-password-97u {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ad3113;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  cursor: pointer;
}
.group-240-66T .login-using-mail-dcB .group-56-gNj {
  width: 45.1rem;
  height: 5.4rem;
  cursor: pointer;
  position: absolute;
  left: 49.4rem;
  top: 60rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.4rem 1.9rem rgba(119, 147, 65, 0.3000000119);
  background-color: #0084ff;
  border-radius: 1rem;
}
.group-240-66T .login-using-mail-dcB .groundup-high-resolution-logo-transparent-3-6BZ {
  width: 27.5rem;
  height: 6.9rem;
  position: absolute;
  left: 56.2rem;
  top: 10.2rem;
  object-fit: cover;
  vertical-align: top;
}
.group-240-66T .login-using-mail-dcB .rectangle-77-bPD {
  width: 45.1rem;
  height: 5.7rem;
  cursor: pointer;
  position: absolute;
  left: 49.4rem;
  top: 74.2rem;
  /* border: solid 0.1rem #0084ff; */
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0.9rem;
}
/* .group-240-66T .login-using-mail-dcB .login-using-number-gfZ {
  width: 45.1rem;
  height: 5.4rem;
  position: absolute;
  left: 63.5rem;
  top: 75.9rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  cursor: pointer;
  
} */
.group-240-66T .login-using-mail-dcB .image-16-aF9 {
  width: 11.7rem;
  height: 8.9rem;
  position: absolute;
  left: 65.6rem;
  top: 30.2rem;
  object-fit: cover;
  vertical-align: top;
}
.group-240-66T .login-using-mail-dcB .group-217-hqZ {
  width: 16.2409rem;
  height: 9.6457rem;
  position: absolute;
  left: 65.1591rem;
  top: 81.3rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  
}
  .group-240-66T .login-using-mail-dcB .group-217-hqZ .or-continue-with-SHM {
  margin: 0rem 0.159rem 3.1rem 0rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #b4b4b4;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}   

/* .group-240-66T .login-using-mail-dcB .group-217-hqZ .or-continue-with-SHM.login-button-google{
  width: 41.457px;
  height: 41.457px;
  flex-shrink: 0;
  

}  */






.group-240-66T .login-using-mail-dcB .group-217-hqZ .group-13-Ldd {
  width: 16.2409rem;
  height: 4.1457rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.group-240-66T .login-using-mail-dcB .frame-15-UUw {
  width: 10rem;
  height: 10rem;
  position: absolute;
  left: 70rem;
  top: 54.9rem;
  overflow: hidden;
}


