
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.signup-using-number-Fnw {
  width: 100%;
  height: 102.4rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.signup-using-number-Fnw .or-o3m {
  width: 2.3rem;
  height: 2.4rem;
  position: absolute;
  left: 70.9rem;
  top: 78.1rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ababab;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.signup-using-number-Fnw .rectangle-76-h99 {
  width: 73.1rem;
  height: 102.4rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ffd134;
}
.signup-using-number-Fnw .rectangle-13-ScX {
  width: 53.9rem;
  height: 47.3rem;
  position: absolute;
  left: 44rem;
  top: 29.3rem;
  box-shadow: 0 0.4rem 3.5rem rgba(0, 0, 0, 0.0799999982);
  background-color: #ffffff;
  border-radius: 4rem;
}
.signup-using-number-Fnw .group-54-YfZ {
  width: 45.1rem;
  height: 9.4rem;
  position: absolute;
  left: 48.4rem;
  top: 49.3rem;
}
.signup-using-number-Fnw .group-54-YfZ .enter-your-username-or-email-address-59h {
  margin-bottom: 1.3rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.signup-using-number-Fnw .group-54-YfZ .auto-group-rsur-QBy {
  box-sizing: border-box;
  padding: 1.9rem 2.5rem 1.7rem 2.5rem;
  width: 100%;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.5;
  color: #7f7f7f;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #4285f4;
  background-color: #ffffff;
  border-radius: 0.9rem;
}
.signup-using-number-Fnw .groundup-high-resolution-logo-transparent-3-es1 {
  width: 27.5rem;
  height: 6.9rem;
  position: absolute;
  left: 56.2rem;
  top: 10.2rem;
  object-fit: cover;
  vertical-align: top;
}
.signup-using-number-Fnw .rectangle-16-mgj {
  width: 45.1rem;
  height: 5rem;
  position: absolute;
  left: 48.4rem;
  top: 64.9rem;
  background-color: #0084ff;
  border-radius: 1rem;
}
.signup-using-number-Fnw .continue-uY3 {
  width: 7rem;
  height: 2.1rem;
  position: absolute;
  left: 66.5rem;
  top: 66.3rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.3125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.signup-using-number-Fnw .an-otp-will-be-generated-by-clicking-on-continue-pQ7 {
  width: 23.7rem;
  height: 2.1rem;
  position: absolute;
  left: 59.3rem;
  top: 62.1rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 2.1;
  color: rgba(0, 0, 0, 0.349999994);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.signup-using-number-Fnw .have-an-account-sign-in-7e7 {
  width: 12.2rem;
  height: 3.9rem;
  position: absolute;
  left: 82.4rem;
  top: 34.1rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.5;
  color: #8d8d8d;
  font-family: Poppins, 'Source Sans Pro';
}
.signup-using-number-Fnw .have-an-account-sign-in-7e7 .have-an-account-sign-in-7e7-sub-0 {
}
.signup-using-number-Fnw .have-an-account-sign-in-7e7 .have-an-account-sign-in-7e7-sub-1 {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.5;
  color: #b87514;
  font-family: Poppins, 'Source Sans Pro';
}
.signup-using-number-Fnw .sign-up-4Ss {
  width: 20.9rem;
  height: 8.3rem;
  position: absolute;
  left: 49.5rem;
  top: 36.8rem;
  font-size: 5.5rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.signup-using-number-Fnw .welcome-to-groundup-ZuR {
  width: 22.8rem;
  height: 3rem;
  position: absolute;
  left: 49.5rem;
  top: 34rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
